<app-header Title="badge"></app-header>
<ion-content padding>

  <!-- Default -->
<ion-badge>99</ion-badge>

<!-- Item with badge on left and right -->
<ion-item>
  <ion-label>My Item 1</ion-label>
  <ion-badge slot="end" color="primary">11</ion-badge>
</ion-item>

<ion-item>
  <ion-label>My Item 2</ion-label>
  <ion-badge slot="end" color="secondary">22</ion-badge>
</ion-item>

<ion-item>
  <ion-label>My Item 3</ion-label>
  <ion-badge slot="end" color="tertiary">33</ion-badge>
</ion-item>

<ion-item>
  <ion-label>My Item 4</ion-label>
  <ion-badge slot="end" color="success">44</ion-badge>
</ion-item>

<ion-item>
  <ion-label>My Item 5</ion-label>
  <ion-badge slot="end" color="warning">55</ion-badge>
</ion-item>

<ion-item>
  <ion-label>My Item 6</ion-label>
  <ion-badge slot="end" color="danger">66</ion-badge>
</ion-item>

<ion-item>
  <ion-label>My Item 7</ion-label>
  <ion-badge slot="end" color="light">77</ion-badge>
</ion-item>

<ion-item>
  <ion-label>My Item 8</ion-label>
  <ion-badge slot="end" color="medium">88</ion-badge>
</ion-item>

<ion-item>
  <ion-label>My Item 9</ion-label>
  <ion-badge slot="end" color="dark">99</ion-badge>
</ion-item>

</ion-content>
