<app-header Title="infinite scroll"></app-header>
<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label>item {{i+1}} </ion-label>
    </ion-item>
  </ion-list>



  <ion-infinite-scroll threshold="150px"
                       (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data…">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
