<app-header Title="Card"></app-header>

<ion-content padding>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item color="success">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, ab ipsum exercitationem eveniet error iste accusamus quos totam. Esse, aperiam accusamus deleniti ipsa ratione quo maxime ad veniam! Debitis, maiores.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, facilis laudantium obcaecati excepturi quia ab reiciendis voluptas dolorem illo pariatur sint omnis voluptatum quos vitae qui temporibus molestias laborum error!
    </ion-card-content>
  </ion-card>



</ion-content>
